awscli
beautifulsoup4==4.12.3
boto3==1.36.10
camelot
docling==2.17.0
fastapi[standard]
frontend
markitdown==0.0.1a3
matplotlib==3.10.0
pandas==2.2.3
pdfplumber
Pillow
pydantic
pymupdf
pypdf
Requests
streamlit
typer