acres==0.2.0
aiofiles==24.1.0
alabaster==0.7.16
annotated-types==0.7.0
anyio==4.8.0
appnope==0.1.4
asttokens==3.0.0
attrs==24.3.0
autoflake==2.3.1
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
configobj==5.0.9
configparser==7.1.0
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
decorator==5.1.1
deepsearch-glm==1.0.0
defusedxml==0.7.1
dill==0.3.9
docling==2.15.1
docling-core==2.14.0
docling-ibm-models==3.1.2
docling-parse==3.1.0
docopt==0.6.2
docutils==0.20.1
easyocr==1.7.2
et_xmlfile==2.0.0
etelemetry==0.3.1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.16.1
filetype==1.2.0
fitz==0.0.1.dev2
fonttools==4.55.5
frontend==0.0.3
fsspec==2024.12.0
h11==0.14.0
httplib2==0.22.0
huggingface-hub==0.27.1
idna==3.10
imageio==2.36.1
imagesize==1.4.1
ipython==8.12.3
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jsonlines==3.1.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
lazy_loader==0.4
looseversion==1.3.0
lxml==5.3.0
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.0
mpire==2.10.2
mpmath==1.3.0
multiprocess==0.70.17
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
networkx==3.4.2
nibabel==5.3.2
ninja==1.11.1.3
nipype==1.9.2
numpy==2.2.1
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.5
pdfservices-sdk==4.1.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
prov==2.0.1
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydot==3.0.4
pyflakes==3.2.0
Pygments==2.19.1
PyMuPDF==1.25.2
pyparsing==3.2.1
pypdf==5.1.0
pypdfium2==4.30.1
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-pptx==1.0.2
pytz==2024.2
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.2.0
rdflib==6.3.2
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
Rtree==1.3.0
safetensors==0.5.2
scikit-image==0.25.0
scipy==1.15.1
semchunk==2.2.2
setuptools==75.8.0
shapely==2.0.6
shellingham==1.5.4
simplejson==3.19.3
six==1.17.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
starlette==0.45.2
sympy==1.13.1
tabulate==0.9.0
tifffile==2025.1.10
tinycss2==1.4.0
tokenizers==0.21.0
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==6.4.3
transformers==4.48.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
wcwidth==0.2.13
webencodings==0.5.1
XlsxWriter==3.2.0
yarg==0.1.9
